* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color: transparent;
    position: sticky;
    top: 0;
    height: 50px;
    z-index: 10;
}


.table__productos{
    display: flex;
}

.table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 20px;

}

.table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.bodyIndex {
    background-image: url(./media/fondoNegro.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.titulos {
    background-color: rgba(162, 1, 1, 0.258);
}
.titulos img{
    width: 100px;
    display: flex;
    float: left;
    
}
.titulo {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 5em;
    margin: 20px;
}

body {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;    
    
}


.productos {
    display: grid;
    margin: 90px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.836);
    background-clip: border-box;
    border: 3px solid white;
    border-radius: 0.25rem;
    margin: 5px;
}


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: #872219;
    border: 1px solid #ffffff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 5px 5px 8px 0 black;
}

.btn:hover {
    color: #fff;
    background-color: #c83427;
    border: 2px solid white;
    transform: scale(1.1)

}

#pills-contact {
    color: white;
}

#pills-clima{
    color: white;
}

#contenedorClima{
    height: 90vh;
    display: flex;
    flex-direction: column;
}
#bodyClima{   
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

#caja1, #caja2, #caja3 {
    padding: 20px;
    background-color: rgba(162, 1, 1, 0.458);
    text-align: center;
    vertical-align: middle;
    
}

.contactoP{
    font-size: 3em;
    margin-left: 20px;
    color: rgb(247, 226, 187);
}
.linkWhats{
    display: inline-block;
    transition: transform 0.5s ease;
    margin-left: 30px;
    font-size: 2.5em;
    text-decoration: none;
    color: rgb(0, 155, 0);
}
.linkWhats:hover{
    color: rgb(0, 226, 0);
    transform: scale(1.1);
}





